.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.landing h1 {
  width: 60%;
}

.landing p {
  margin: 2.5px;
  width: 60%;
}

.landing * {
  color: black;
}

@media only screen and (min-width: 1000px) {
  .landing h1 {
    font-size: 3rem;
  }

  .landing p {
    font-size: 1.2rem;
  }

}

@media only screen and (min-width: 1200px) {
  .landing h1 {
    font-size: 3.5rem;
  }

  .landing p {
    font-size: 1.35rem;
  }

}

@media only screen and (min-width: 1500px) {
  .landing h1 {
    font-size: 4rem;
  }

  .landing p {
    font-size: 1.5rem;
  }

}