nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-image: url("../../../public/background.png");
}

.logo {
  width: 20%;
  margin: 0;
  padding-left: 80px;
  font-size: 2rem;
  transition: color 0.3s, text-shadow 0.3s;
}

.menu {
  display: flex;
  gap: 80px;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-right: 50px;
}

.logo, .menu {
  padding-top: 20px;
  padding-bottom: 20px;
}

.menu li {
  display: inline;
  font-size: 1.3rem;
}

.menu li a {
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: color 0.3s, text-shadow 0.3s;
}

.menu li a:hover,
.logo:hover {
  color: #0073e6;
  text-shadow: 0 0 5px rgba(0, 115, 230, 0.5);
}

nav h1 {
  color: black;
}
@media only screen and (max-width: 768px) {
  .logo {
    display: none;
  }

  .menu {
    padding: 0;
    padding-top: 30px;
  }

  nav {
    justify-content: center;
  }
}