.about-tech {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.centered-h2 {
  text-align: center;
  color: black;
  margin-top: 0px;
}

.tech-stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 800px;
}

.tech {
  display: flex;
  width: 230px;
  height: 125px;
  align-items: center;
  justify-content: center;
  margin: 5px;
  background-color: rgb(243 244 246);
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.react {
  width: 150px;
}

.node {
  width: 75px;
}

.chatgpt {
  width: 150px;
}

.cheerio {
  width: 75px;
}

.github {
  width: 150px;
}
